<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
        {% endblock %}
        <title>Quote Finder</title>
        {% endblock %}
    </head>
    {% from 'bootstrap5/form.html' import render_form, render_hidden_errors, render_field %}

    <body class="homepage-body">
    {% block content %}
    <div class="text-center">
         <div class="container">
            <div class="row">
              <h1 class="display-4">Quote Finder 💬</h1>
              <h5>Find interesting quotes!</h5>
            </div>
            <div class="row quote justify-content-center">
                <div class="col-md-6">
                    <p><em>{{ quote }}</em></p>
                    <span class="author"><p>- {{ author }}</p></span>
                </div>
            </div>
             <div class="row justify-content-center">
                 <div class="col-md-4">
                     <div>
<!--                        <a href="{{ url_for('upvote_quote', quote_id=478828) }}"><img class="like-btn" src="static/img/like.png"></a>-->
<!--                        <a href="{{ url_for('downvote_quote', quote_id=478828) }}"><img class="like-btn" src="static/img/dislike.png"></a>-->
                            <a href="#"><img class="like-btn" src="{{ url_for('static', filename='img/like.png') }}"></a>
                            <a href="#"><img class="like-btn" src="{{ url_for('static', filename='img/dislike.png') }}"></a>
                     </div>
                 </div>
             </div>
             <div class="row search-form justify-content-center">
                <div class="col-md-6">
                    <h2>Find quotes by category: </h2>
                    {{ render_form(form, form_type="inline", novalidate=True, form_inline_classes="row row-cols-lg-auto g-3 align-items-center justify-content-center") }}
                </div>
            </div>
        </div>

        <span style="z-index:50;font-size:0.9em;">
          <img src="http://api.paperquotes.com/static/images/paperquotes.png" height="20" width="20" alt="paperquotes.com"/>
          <a href="http://paperquotes.com" title="Powered by quotes from paperquotes.com" style="color: #9fcc25; margin-left: 4px; vertical-align: middle;">paperquotes.com
          </a>
        </span>
    </div>
    {% endblock %}
    </body>
</html>