{% extends 'bootstrap/base.html' %}

{% block title %}My To-Do List{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row page-title">
        <div class="col-sm-6 col-md-4">
            <p><h1 class="display-4">My To-Do List 📝</h1></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 task-list">
            <div class="checkboxes">
            <ul>
            {% for task in tasks %}
                <li>
                <h2>
                    {% if task.completed %}
                        <input type="checkbox" onchange="strikethroughOnCheck({{ task.id }})" id="task_{{ task.id }}_checkbox" checked="true">
                    {% else %}
                        <input type="checkbox" onchange="strikethroughOnCheck({{ task.id }})" id="task_{{ task.id }}_checkbox">
                    {% endif %}
                    <a href="{{ url_for('display_task', task_id=task.id) }}" id="task_{{ task.id }}" class="completed-{{ task.completed }}">{{ task.name }}</a>
                </h2>
                </li>
            {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Add New Task button -->
    <div class="col-md-12 bg-light">
        <a class="btn btn-primary btn-lg add-new-btn" href="{{ url_for('add_task') }}" role="button">+ Add New Task</a>
    </div>
</div>

<!-- Function to strikethrough task name text when task is marked as completed -->
<script>
    function strikethroughOnCheck(task_id) {
      var taskLine = document.getElementById('task_' + task_id);
      var checkBox = document.getElementById('task_' + task_id + '_checkbox');
      if (checkBox.checked == true){
        taskLine.style.textDecoration = "line-through";
      } else {
        taskLine.style.textDecoration = "none";
      }
      $.getJSON('/task_complete/' + task_id);
    }
</script>

{% endblock %}