<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
        {% endblock %}
        <title>Image Color Palette Generator</title>
        {% endblock %}
    </head>
    {% from 'bootstrap5/form.html' import render_form, render_hidden_errors, render_field %}

    <body class="homepage-body">
    {% block content %}
    <div class="text-center">
         <div class="container">
            <div class="row">
              <h1 class="display-4">Image Color Palette Generator 🎨</h1>
              <h5>Upload an image to get a palette of the top 10 colors in the image.</h5>
            </div>

            <div class="row d-flex justify-content-center upload-form">
                <div class="col-md-8">
                    {{ render_form(form, form_type="inline", novalidate=True, form_inline_classes="row row-cols-lg-auto g-3 align-items-center justify-content-center") }}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    </body>
</html>