<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
        {% endblock %}
        <title>The Bookshop</title>
        {% endblock %}
    </head>
    {% from 'bootstrap5/form.html' import render_form, render_hidden_errors, render_field %}

    <body>

    <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="{{url_for('home')}}">The Bookshop</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            +
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
              </li>
              {% if not current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('display_cart') }}">
                    <img src="{{ url_for('static', filename='img/cart.png') }}" width=25 height=25 class="d-inline-block">
                    Cart
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>