{% include "header.html" %}

  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center item-page-book">
        <div class="col-lg-6 col-md-8">
          <div class="item-heading">
                <h1>Thanks for your order!</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <p class="text-center">
      We appreciate your business!
      If you have any questions, please contact us at The Bookshop.
    </p>
  </div>

{% include "footer.html" %}